body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button{
    background-color: red;
    padding: 30px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: black;
    transition: 2s;
}